@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DB1A5F;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 95px 1fr;
    column-gap: 2%;
    padding: 23px 1% 0px 1%;
    grid-template-areas:"logo logo menu menu menu menu menu menu opcion opcion"
                        "pre pre pre pre info info info info info info";
}

.div_logo {
    width:158;
    height:95;
    grid-area: logo;
    /*background: orange;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:40px;
}

.div_logo img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.div_menu {
    /*background: violet;*/
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_menu ul {
    display: flex;
    gap: 33px;
}

.div_menu ul li{
    /*background:olive;*/
    list-style: none;;
}

.div_menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.div_option{
    grid-area:opcion;
    /*background: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.div_product {
    padding-top: 81px;
    grid-area: pre;
    width: 708 px;
    height: 85svh;
    position: relative;
}


.div_product > img{
    position: absolute;
    right: 0;
}

.div_ice-cream img:nth-child(1),
.div_ice-cream img:nth-child(2),
.div_ice-cream img:nth-child(3){
    position: absolute;
    height: 663px;
    object-fit: contain;
    bottom: 0;
}

.div_ice-cream img:nth-child(3){
    transform: rotate(32.69deg);
    width: 447px;
    height: 753px;
    z-index: 5;
    left: -140px;
}

.div_ice-cream img:nth-child(2){
    transform: rotate(57.18deg);
    z-index: 10;
    width:447px;
    height: 832px;
    left:40px;
    bottom: -80px;
}

.div_ice-cream img:nth-child(1){
    transform: rotate(85.74deg);
    z-index: 5;
    width: 514px;
    height: 746px;
    left: 45px;
    bottom: -230px;
}

.div_info {
    grid-area: info;
    /*background: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_content h1,
.div_content span,
.div_content p{
    color:#fff;
}

.div_content h1{
    font-size: 69px;
}

.div_content span{
    font-size: 32px;
}

.div_content p{
    font-size: 24px;
    width: 608px;
}

.div_info a{
    align-self: flex-end;
    margin-top: 72px;
    margin-right: 450px;

}

.boton{
    display: grid;
    place-items: center;
    border-radius: 5px;
    background-color:#BDD37F;
    font-weight: bold;
    width: 177px;
    height: 68px;
}

@media(max-width:430px){
    body{
        display:grid;
        padding: none 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 95px)50px 1fr 294px;
        grid-template-areas:"logo logo logo"
                            "menu menu menu"
                            "opcion opcion opcion"
                            "pre pre pre"
                            "info info info";
    }
    .div_logo{
        margin-left:30%;
    }
    .div_menu{
        grid-area: menu;
        padding:0 1%;
    }
    .div_menu ul{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap:10px;
    }
    .div_menu ul > li{
        flex:1;
    }

    .div_menu ul li a{
        width: 150px;
        padding:5px;
        border:1px solid #fff;
        border-radius: 10px;
        text-align: center;
        display:block;
    }

    .div_product > img{
        position:absolute;
        left:0;
        right:0;
        top:0;
        margin:auto;
        z-index: 10;
        margin: auto;
    }

    .div_ice-cream{
        position:relative;
        width: 100%;
    }
    .div_ice-cream img:nth-child(1),
    .div_ice-cream img:nth-child(2),
    .div_ice-cream img:nth-child(3){
        transform:rotate(0deg);
        position: absolute;
        height: 500px;
        object-fit: contain;
        inset:0;
        margin:30px auto;
        z-index: -10;
    }
    .div_ice-cream img:nth-child(3){
        transform: rotate(19deg);
        width: 447px;
        height: 500px;
        z-index: 5;
        left: -180px;
    }

    .div_ice-cream img:nth-child(2){
        transform: rotate(19deg);
        width: 447px;
        height: 500px;
        z-index: 10;
        left: -15px;
        bottom:0;
    }

    .div_ice-cream img:nth-child(1){
        transform: rotate(19deg);
        width: 514px;
        height: 500px;
        z-index: 5;
        left: 55px;
        bottom:0px;
    }

    .div_info {
        grid-area: info;
        /*background: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
    }
    
    .div_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .div_content h1,
    .div_content span,
    .div_content p{
        color:#fff;
    }
    
    .div_content h1{
        font-size: 40px;
    }
    
    .div_content span{
        font-size: 28px;
    }
    
    .div_content p{
        font-size: 20px;
        width: 380px;margin-left:10px;
    }
    
    .div_info a{
        align-self: flex-end;
        margin-top: 72px;
        margin-right: 10px;
    
    }
    






















}